.carouselimg{
    height:390px;
    width:60%;
}
.checked {
    color: orange;
  }
ul li:hover{
    cursor:pointer;
    background-color: rgb(189, 234, 245);
    font-weight: bold;
}
.circle{
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    border:1px solid #ccc;
    width:8px;
    height:8px;
}
